/* Contenidor principal */
#app {
  padding: 2rem;
}

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #1b1b1b;
  color: white;
}


/* HEADER */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.nav {
  font-size: 100%;
  background-color: #1b1b1b;
  position: fixed; 
  top: 0;
  left: 50%;
  width: 60%;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 5%;
  padding: 1.5rem;
  z-index: 1000;
  text-transform: none;
  transform: translateX(-50%); /* Centra el nav horizontalmente */
  margin-top: 2%;
  border-radius: 50px;
}
.nav2 a {
  padding: 10px 15px; /* Añadir padding a los enlaces */
  text-decoration: none;
  color: hsla(180, 100%, 35%, 1);
  background: linear-gradient(45deg, rgb(4, 196, 68), rgb(0, 132, 194)); /* Degradado de azul a verde */
  background-clip: text; /* Aplica el degradado solo al texto */
  transition: 0.3s;
  font-weight: 500;
}
.nav2 a:hover {
  transform: scale(1.1);
  color: transparent;
  filter: brightness(1.2); 
  text-shadow: none;
}
.nav-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-icon:hover {
  transform: scale(1.1) rotateX(30deg) rotateY(15deg);
}
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-wrapper {
  flex: 1;
  /* Ocupa todo el espacio disponible */
  display: flex;
  justify-content: center;
  /* Centra el menú */
}


.log-regist {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-message {
  color: #0098e5;
  font-size: 1.1rem;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.login-register {
  display: flex;
  gap: 10px;
}

.login-register-btn {
  color: white;
  font-weight: 5000;
  text-decoration: none;
  background: transparent; /* Fondo transparente */
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  border: 2px solid transparent; /* Borde inicial transparente */
  background-clip: padding-box;
}

.login-register-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* Grosor del borde */
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(4, 196, 68), rgb(0, 132, 194)); /* Degradado en el borde */
  -webkit-mask: 
    linear-gradient(white 0 0) content-box, 
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.login-register-btn:hover {
  transform: scale(1.05); /* Efecto de agrandado al pasar el mouse */
}


/* Inner shimmer */
.login-register-btn::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.login-register-btn span {
  z-index: 1;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.login-register-btn {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.login-register-btn:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}



/* MAIN SECTION */
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 5%;
}
.text{
  width: 100%;
  justify-content: center;
  margin-top: 30%;
}
.text p{
  width: 70%;
  margin-left: 15%;
}
.main-section {
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 3rem;
  margin-top: 10%;
}
.main-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.main-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.estadistica{
  width: 75%;
  margin-left: 8%; 
  transition: 1s;
}
.estadistica:hover{
  transform: scale(1.1);
}


/* Logos */
.logos-section {
  display: block;
  justify-content: center;
  padding: 5rem 0;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.logos-section h3{
  font-weight: 400;
  text-align: center;
  margin-bottom: 2%;
}
.logos-section img {
  height: 90px;
  object-fit: contain;
}
.logos{
  display: flex;
  justify-content: center;
  gap: 2em;
}


/* Slider */
.title{
  font-size: 500%;
  text-transform: uppercase;
  position: absolute;
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title p{
  font-weight: 100;
}
.title span{
  font-weight: 600;
}

.slider {
  width: 100%;
  height: 550px;
  overflow: hidden; 
  position: relative;
  margin-top: 6%;
}

.slider img {
  width: 100%;
  height: 550px;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; 
  filter: brightness(60%);
  animation: slide 12s infinite; 
}

/* Animación del slider */
@keyframes slide {
  0% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1; /* Muestra la primera imagen */
  }
  33% {
    opacity: 0; /* Oculta la primera imagen */
  }
  33%,
  53% {
    opacity: 1; /* Muestra la segunda imagen */
  }
  56% {
    opacity: 0; /* Oculta la segunda imagen */
  }
  56%,
  76% {
    opacity: 1; /* Muestra la tercera imagen */
  }
  79% {
    opacity: 0; /* Oculta la tercera imagen */
  }
}

/* Añadir diferentes retrasos a cada imagen para que aparezcan secuencialmente */
.slider img:nth-child(1) {
  animation-delay: 0s;
}
.slider img:nth-child(2) {
  animation-delay: 4s;
}
.slider img:nth-child(3) {
  animation-delay: 8s;
}

.three-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8%; 
  padding: 5% 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.three-text h2 {
  margin-bottom: 10px;
}

.three-text p {
  text-align: justify;
  line-height: 160%;
  margin: 2%;
}


/* DASHBOARD */
.intro{
  margin-top: 10%;
  text-align: center;
}
.intro h1{
  font-size: 200%;
  font-weight: 400;
}
.dashboard-container {
  width: 40%;
  margin: 0 auto;
  padding: 20px; 
  border-radius: 8px;
  margin-top: 4%;
  margin-bottom: 10%;
}
.posts-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-card {
  background-color: #52525254;
  padding: 30px;
  border-radius: 8px;

}

.post-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.username {
  font-size: 16px;
  color: #007bff;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.description {
  font-size: 14px;
  color: #ffffff;
}


/* FOOTER */
footer {
  background-color: rgb(8, 8, 8);
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  /* Asegura que todo se ajuste en pantallas pequeñas */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* Alinea verticalmente */
  margin-top: 8%;
}

.footer-section {
  margin: 5%;
  text-align: center;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 80px;
  /* Ajusta el tamaño del logo */
}

.social-links,
.payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Espacio entre los íconos */
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-footer {
  font-size: 0.5em;
  margin-bottom: 10px;
  /* Espacio entre el texto y las imágenes */
  text-transform: uppercase;
  font-weight: 600;
}

.social-links img {
  width: 25px;
  /* Tamaño de las imágenes de redes sociales */
}

.payment-methods img {
  width: 50px;
  /* Tamaño de las imágenes de los métodos de pago */
}

.legals {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* Espacio entre los enlaces legales */
}



